.restaurant-row {
  background-color: #fff;

  border-top: 1px solid orange;
  box-shadow: 0 4.5px 0 0 orange;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
  -webkit-transition: box-shadow 0.25s ease-out;
}

.restaurant-row:hover {
  box-shadow: 0 7.5px 0 0 darkorange;
}

.row_div-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row_div-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  font-style: italic;
}
