.restaurant-container {
  background-color: gray;
  box-shadow: inset 0 5px 10px #000000;
  margin-top: 13.5em;
  overflow: auto;
  width: 100%;
}

.container-top {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  margin-top: 3.5em;
  padding: 1em;
  padding-top: 4em;
  position: fixed;
  top: 0;
  width: 97%;
  z-index: 10;
}

.page-button {
  background-color: gray;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  outline: none;
}

.page-button:hover {
  color: orange;
  font-size: 1.5em;
}

.header-div {
  background-color: orange;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.25s ease-out;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-div:hover {
  background-color: darkorange;
}

.page-display {
  color: #fff;
}

.page-display_bottom {
  color: #fff;
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
  margin-right: 9em;
}

h3 {
  color: #fff;
}

label {
  color: #fff;
  font-weight: bold;
}

input {
  padding: 0.1em;
}

body {
  background-color: gray;
}
