.filter-form {
  padding: 1em;
}

.state-div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 11em;
}

.state-input {
  border-radius: 0 0.5em 0 0;
}

.genre-div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 11em;
}

.submit-button {
  cursor: pointer;
  font-weight: bolder;
  color: orange;
  margin-left: 0.75em;
  outline: #fff;
  width: 16em;
}
